{% load static %}
{% load i18n static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_login.css' %}">
</head>

<body class="bg">
  <div class="container">

    <div class="jumbotron myjumb">
      <h3 class="display-4 story">User Login</h3>
            <!--SHOW THE ERROR MESSAGES FOR THIS LOGIN FORM-->
      <div class="errors">
        {% if user is None %}
         <p class="errornote">
           {{ msg }}
         </p>
         {% endif %}
      </div>
      <hr class="my-4">
      <form method="post">
        <div class="login-form">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Django template tag that renders the form fields in a specific format -->
        </div>      

        <button type="submit" class="btn btn-primary login_button">Login</button>   
          <a href="{% url 'admin:login' %}"><span class="signin-text">Admin Login</span> </a> 
          <a href="{% url 'signup' %}"><span class="signin-text">User Signup</span>  </a>
        </form>
      
    </div> 
    
    <footer>
      <div class="row pad">
        <div class="col-lg-12 text-center">
          Copyright &copy; 2023 <strong>Zwivhuya Mulibana</strong>
        </div>
      </div>
    </footer>

  </div>
  
</body>

</html>
