/*########################custom Login page, login.html################*/
body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body {
    /* The image used */
    background-image: url('bg1.jpg');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .password{
    color:black;
    font-weight:bold;
    font-family:'Courier New', Courier, monospace;
  }

  .username{
    color:black;
    font-weight:bold;
    font-family:'Courier New', Courier, monospace;
  }

  .myjumb{
    height: 60vh;
    width: 60vw;
    background-color: rgba(255,255,255,0.5);
    padding: 20px; /* Add padding to the form container */
    border-radius: 10px; /* Add border radius to the form container */
  }

  .login_button{
    background-color: rgba(28, 75, 195, 0.5);
  }

  .story{
    text-align: center;
    color: black;
    font-weight:bold;
    font-family:'Courier New', Courier, monospace;
  }
  .errors{
    font-weight: bold;
    color: rgb(188, 46, 103);
    background-color: rgba(0,0,0,0.7);
  }
  /* Customize form fields */
  input[type="text"]{
    padding: 10px;
    width: 100%;
    box-sizing:border-box;
    background-color: rgba(255,255,255,0.7);
  }
  input[type="password"] {
    /* Add custom styling to text and password fields */
    padding: 10px;
    width: 100%;
    box-sizing:border-box;
    background-color: rgba(255,255,255,0.7);
  }

  .login-form label {
    /* Add custom styling to form labels */
    font-weight: bold;
    color: black;
    font-family:'Courier New', Courier, monospace;
  }

  .login-form p {
    /* Add custom styling to form field paragraphs */
    font-weight: bold;
    color: black;
    font-family:'Courier New', Courier, monospace;
  }

  .btn-signup{
    background-color: rgba(15, 60, 223, 0.3);
    font-weight:500;
    margin-right: 6px;
    align-items: center;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display:inline-block;
    font-size: 15px;
}
  
.signin-text{
      color:blue;
      margin-left: 2%;
}


footer {
  margin-top: 25px;
  color: white;
  font-family:'Courier New', Courier, monospace;
}
